body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Segoe UI;
}

header {
  background: #020617;
  padding: 15px;
}

nav button {
  margin-right: 10px;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background: #1e293b;
  color: white;
  cursor: pointer;
}

.controls {
  display: flex;
  gap: 15px;
  padding: 15px;
  background: #020617;
  align-items: center;
}

select, input[type=range] {
  padding: 8px;
  border-radius: 6px;
}

main {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 14px;
  width: 350px;
}
